h1 {
    font-size: 50px; 
    font-style: italic;
}

body {

}
.claseSeccion {
    background-color: coral; 
    border-style: solid; 
    height: 500px; 
    width: 900px; 
}

#vinculo {
    border-style: solid; 
    border-color: black; 
    border-radius: 30px; 
}

.aplicandoColor {
    background-color: #B3F9D3; 
    color: #1094f4; 
    border-style: solid; 
    border-color: darkblue;
}

.fuente {
    text-align: center; 
    font-family: 'Rubik Beastly', cursive; 
    text-shadow: 5px 5px 5px black; 
}

.cajaPrincipal{
    background-color: maroon; 
    font-size: 60px; 
    color: whitesmoke; 
    height: 800px;
    width: 250px; 
    margin: 100px 100px 100px 100px;
    padding-bottom: 20px; 
    display: inline-block;
    border-style: solid;
    border-color: black; 
    border-radius: 20px; 
}

.caja {
    font-size: 60px; 
    color: white; 
    font-weight: bold; 
    height: 150px; 
    width: 150px; 
    margin: 20px; 
    border-style: solid; 
    border-color: white;
    border-bottom-width: 20px; 
    border-top-left-radius: 207px; 
    border-top-right-radius: 25px; 
    border-bottom-style: double; 
    box-shadow: 10px 10px 10px black; 
    background-image: url("../img/mar.jpg"); 
    background-size: contain; 
}

.caja3 {
    height: 200px; 
    width: 200px; 
    background-color: gold; 
    color: aqua; 
    border-style: solid;
    border-color: black; 
    text-align: center; 
    font-size: 70px; 
    margin: 20px;
    padding-top: 50px;
    float: right; 
}

.posicion {
    position: sticky; 
    top: 50px; 
    left: 300px; 
}

.contenedor {
    background-color: greenyellow; 
    width: 200px;
    height: 150px; 
    text-align: center; 
    font-size: 70px; 
    padding-top: 40px; 
    color: darkslategrey;
}

.contenedor:hover{
    width: 250px;
    height: 200px;
    background-color: blueviolet; 
    transition-property: background-color,height, border-radius, width; 
    transition-duration: 5s;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
    border-radius: 50%; 
}
